!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#page_calendar.page_calendar

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section#header_calendar

				%article.banner.pinned.clearfix

					.badge.icon_lead.wrap_svg
						%svg.ui_lead{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#ui_lead"}

					.headlines
						%h1.name.truncate Jimmy McNulty
						%h4.truncate Northern Army Bros.

					.icon_pin.wrap_svg
						%svg.ui_pin{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#ui_pin"}

			%section#main_calendar{"data-container" => "padding"}

				%article.cases

					.cases_header

						%h4 3 Open Cases

						%a.icon_calendar.wrap_svg.current{:href => "#", :title => "Calendar"}
							%svg.ui_calendar{:viewBox => "0 0 64 64"}
								%use{"xlink:href" => "#ui_calendar"}

						%a.icon_reminder.wrap_svg{:href => "#", :title => "Reminder"}
							%svg.ui_reminder{:viewBox => "0 0 64 64"}
								%use{"xlink:href" => "#ui_reminder"}

					%ul.cases_grid.clearfix

						- (1..10).each do |i|
							%li{:id => "case_#{i}"}
								%a.badge.icon_question.wrap_svg{:href => "#", :title => "Case #{i}"}
									%svg.ui_question{:viewBox => "0 0 64 64"}
										%use{"xlink:href" => "#ui_question"}

					-# not sure how this form is supposed to submit / retrieve data...
					-# should it toggle between 'reminder' and 'calendar', or be separate pages?
					= Haml::Engine.new(File.read("dev/haml/partials/_form_calendar.haml")).render

					.actions.columns
						%a.button.pink{:href => "#", :title => "Cancel"} Cancel
						%a.button.blue{:href => "#", :title => "Save"} Save