!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#page_norecord.page_norecord

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section#header_settings{"data-container" => "padding"}

				%article.standard

					%h1 Settings
					-# does this need to be a mailto: link?
					%h2.truncate admin@northernarmy.com

			%section#main_settings{"data-container" => "padding"}

				%article

					%form#form_settings.settings_form{:action => "", :method => "", :name => "form_settings"}

						%h4 User Role:
						= Haml::Engine.new(File.read("dev/haml/partials/_drop_user-role.haml")).render

						%h4 User Preference:
						= Haml::Engine.new(File.read("dev/haml/partials/_drop_user-preference.haml")).render

						%a.log_link{:href => "#", :title => "Log Out Current User"} Log Out Current User

						.actions
							%button.button.blue{:type => "submit", :name => "submit"} Save

		= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render